body  {margin: 0px 272px}
.name {width: 100%;
	 margin: 0px 137px}
.foto {margin: 0px 308px}
.me  {font-size: 150%}
.study {width: 100%;
	  margin: 0px 34px;
	 font-size: 150%}
.contacts {width: 100%;
	 margin: 0px 40px;
	 font-size: 150%}
.fidback {width: 100%;
	 margin: 0px 37px;
	 font-size: 150%}